<div class="panel panel-default">
  <table class="table" width="100&">
    <tr>
      <td class="col-xs-1">Student ID</td>
      <td class="col-xs-1">Last Message</td>

      <td class="col-xs-1">Action</td>
    </tr>
    <% @studentlist.each do |s| %>
        <tr>
          <td class="col-xs-1"><%= User.find(s.id).name %></td>
          <% if Message.where("student_id=? and instructor_id=? and course_id=?",s.id,session[:user_id],session[:courseid]).last %>
              <td class="col-xs-1"><%= Message.where("student_id=? and instructor_id=? and course_id=?",s.id,session[:user_id],session[:courseid]).last.content %></td>
             <% else %>
              <td class="col-xs-1"> </td>
              <%end%>

          <td class="col-xs-1"><%= link_to 'Send Message', instructor_message_send_path(s) ,:class => 'btn btn-danger' %></td>
        </tr>
    <% end %>
  </table>
</div>
<%= link_to 'Back', courses_list_courses_path(:course_id => params[:course_id]), :class => 'btn btn-info' %>