<%= form_for(@Admin,:url => url_for(:controller => 'admins', :action => 'edit_admin_save') ) do |f| %>
    <div class = "form_row">
      <label for="text">Name:</label>
      <%= f.text_field :name %>
    </div>
    <div class = "form_row">
      <label for="password">Password:</label>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Create" %>
    </div>
<% end %>
