<%= form_for(@Admin) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.label :password %>
      </div>
    <div class="actions">
<%= f.submit 'Update Profile', :class => 'btn btn-info' %>
      </div>
<% end %>