<% if @Course %>
    <h3>Courses</h3> <br>
    <h4>
      <% @Course.each do |course| %>
          <%= course.title %>    <%= link_to 'View', view_course_path(course) %>        <%= link_to 'Delete', delete_admin_path(course) %><br>
      <% end %>
      <%= link_to 'Create new course', "/admins/manage_admin/create_admin" %>
    </h4>
<% end %>