
<% if @Admins %>
<h3>Admins</h3> <br>
    <h4>
<% @Admins.each do |admin| %>
<%= admin.name %>    <%= link_to 'View', view_admin_path(admin) %>        <%= link_to 'Delete', delete_admin_path(admin) %><br>
<% end %>
    <%= link_to 'Create new Admin', "/admins/manage_admin/create_admin" %>
    </h4>
<% end %>
