<ul class="list-group">
  <li class="list-group-item">Name:     <%= @Admin.name %></li>
  <li class="list-group-item">Email:    <%= @Admin.email %></li>
</ul>

<!--'/admins/manage_admin'-->
<%= link_to 'Back', :back, :class => 'btn btn-info' %>