<ul class="nav navbar-nav">
  <li><li><%= link_to "Add Content", coursepage_materials_new_path(:course_id => params[:id]), method: "get" %></li></li>
  <li><li><%= link_to "Post Grades", grades_students_list_path(:course_id => params[:id]), method: "get" %></li></li>
  <li><li><%= link_to "Enrollement requests", '/enrollments/new', method: "get" %></li></li>
</ul>