<ul class="nav navbar-nav">
  <li><li><%= link_to "Add Content", '/courses/content', method: "get" %></li></li>
  <li><li><%= link_to "Post Grades", '/courses/grades', method: "get" %></li></li>
  <li><li><%= link_to "Enrollement requests", '/courses/enrollments', method: "get" %></li></li>
</ul>
