<ul class="nav navbar-nav">
  <li><li><%= link_to "Manage Admins", login_path, method: "get" %></li></li>
  <li><li><%= link_to "Manage Courses", login_path, method: "get" %></li></li>
  <li><li><%= link_to "Manage Users", login_path, method: "get" %></li></li>
  <!--Change route options-->
</ul>
