<ul class="nav navbar-nav">
  <li><li><%= link_to "My Courses", students_show_path, method: "get" %></li></li>
  <li><li><%= link_to "Search Courses", students_search_path, method: "get" %></li></li>
  <li><li><%= link_to "Course History", students_course_history_path, method: "get" %></li></li>
  <!--Change route options-->
</ul>
